@model IEnumerable<MortoSweepstakes.Models.Match>


@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable sortable table-striped table-hover">
    <thead>
        <tr class="matchesTable">
             <th>
                <a href="#">Match Date and Time</a>
                
                @*@Html.DisplayNameFor(model => model.MatchDateTime)*@
            </th>
            <th>
                <a href="#">Team 1</a>
                @*@Html.DisplayNameFor(model => model.Team1)*@

            </th>
            <th>
                <a href="#">Score Team 1</a>
                @*@Html.DisplayNameFor(model => model.ScoreTeam1)*@
            </th>
            <th>
                
            </th>
            <th>
                <a href="#">Score Team 2</a>
                @*@Html.DisplayNameFor(model => model.ScoreTeam2)*@
            </th>
            <th>
                <a href="#">Team 2</a>
                @*@Html.DisplayNameFor(model => model.Team2)*@
            </th>          
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="matchesTable">
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
                
                 <!-- Check if game is happening today and display message if true -->
                 @if (DateTime.Compare(ViewBag.CurrentTime.Date, item.MatchDateTime.Date) == 0){
                    <p class="today-match">TODAY's MATCH <i class="fas fa-futbol" alt="game on"></i>  </p>
                         
                }
            </td>
            <td>
                <img src="~/img/flags/@(item.Team1).svg" class="img-thumbnail" />
                <br />
                @Html.DisplayFor(modelItem => item.Team1) 
                
                
            </td>
            <td class="score">
                @Html.DisplayFor(modelItem => item.ScoreTeam1)
            </td>
            <td style="text-align:center; vertical-align:middle" >
                <h4>X</h4>
            </td>
            <td class="score">
                @Html.DisplayFor(modelItem => item.ScoreTeam2)
            </td>
            <td>
                <img src="~/img/flags/@(item.Team2).svg" class="img-thumbnail" />
                 <br />
                @Html.DisplayFor(modelItem => item.Team2)
                
            </td>            
            
            

           @* show the bet information where this matchId*@
            
                @if (User.IsInRole("Administrator") || User.IsInRole("Player"))
                {
                    <td>
                        <a class="action-links" asp-action="Edit" asp-route-id="@item.MatchId"><i class="fas fa-edit" alt="edit"></i></a> |
                    <a class="action-links" asp-action="Details" asp-route-id="@item.MatchId"><i class="fas fa-info" alt="info"></i></a> |
                    <a class="action-links" asp-action="Delete" asp-route-id="@item.MatchId"><i class="fas fa-trash-alt" alt="delete"></i></a>
                
            </td>
            }
        </tr>
        
        
}
    </tbody>
</table>
