@model IEnumerable<MortoSweepstakes.Models.Bet>



@{
    ViewData["Title"] = "My Bets";
}

<h1>My Bets</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus-circle"></i>Create Bet</a>
    
</p>




<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Team 1</a>
                @*@Html.DisplayNameFor(model => model.BetTeam1)*@
            </th>
            <th>
                <a href="#">Team 2</a>
                @*@Html.DisplayNameFor(model => model.BetTeam2)*@
            </th>
            <th>
                <a href="#">Bet Placed On</a>
                @*@Html.DisplayNameFor(model => model.BetDateTime)*@
            </th>
            <th>
                <a href="#">Bet Points</a>
                @*@Html.DisplayNameFor(model => model.BetPoints)*@
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BetTeam1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetTeam2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetPoints)
            </td>
            
            @if (User.IsInRole("Administrator"))
                {
                    <td>
                <a asp-action="Edit" asp-route-id="@item.BetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BetId">Delete</a>
            </td>
            }
        </tr>
        @*
        Need to display match information: team1, team2, matchDateTime
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Match)
            </td>
        </tr>*@
}
    </tbody>
</table>
